#userContainer {
  overflow-y: auto;
  max-height: 70vh;
}

.bottom {
  bottom: 0;
  margin-top: 20px;
  margin-left: 5px;
}
#chatContainer {
  display: flex;
  flex-direction: column;
  height: 60%;
  overflow-y: auto;
}

#status {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #4d9db3;
  color: white;
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 45% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  padding: 20px;
}

#confirm {
  width: 50%;
  margin: auto;
}
.square img {
  width: 30%;
}

#sidebar-wrapper {
  max-width: 250px;
  height: 100%;
  background-color: #4d9db3;
  transition: all 0.2s ease;
  margin-left: -250px;
  position: relative;
}
.content {
  width: 100%;
  height: 100%;
}
.container-fluid {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
#page-content-wrapper {
  width: 100%;
  height: 100%;
}
.sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2em;
}

.list-group-item {
  border: none;
  background-color: #4d9db3;
}

#messages {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 1rem;
  /* width: 50%; */
}

#messageInput {
  margin: 1rem 0;
}

#sendButton {
  width: 100%;
  margin-bottom: 1rem;
}

.navbar {
  padding: 0.5rem 1rem;
  height: 15%;
}

.navbar-brand img {
  max-height: 40px;
  width: auto;
}

.card-header {
  height: 80%;
  width: 100%;

}
.receiver {
  text-align: center;
}
@media (max-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0px; /* Always show sidebar on smaller screens */
  }
  #page-content-wrapper.active {
    margin-left: 0; /* Do not move content on smaller screens */
  }
}
