<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Public Chat Wall</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous"
  />

    <link rel="stylesheet" href="../css/Frame.css" />
    <link rel="stylesheet" href="../css/square.css" />
    <link rel="stylesheet" href="../css/ShareStatus.css" />
  </head>
  <body id="body">
    <div id="notificationBox" class="notificationModal">
      <div class="noti-modal-dialog">
        <div class="noti-modal-content">
          <div class="noti-modal-header">
            <h5 class="notimodal-title">You've received a new message!</h5>
            <button
              type="button"
              class="notificationModalClose btn btn-outline-light"
              data-dismiss="notificationModal"
              id="viewBtn"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light" id="navbar-light-Frame">
      <div id="navbar">
        <div
          id="clickbtn"
          class="leftBtn"
          data-toggle="collapse"
          data-target="#sidebar-wrapper"
        >
          &#9776;
        </div>
        <div class="navbar-center">
          <a class="navbar-brand" href=" ">
            <img src="../images/logo.jpg" alt="ESN Logo" style="height: 40px" />
          </a>
          <div class="editProfile">
            <span id="status"></span>
            <!-- <div id="status-edit"></div> -->
            <div id="username"></div>
            <i class="fa-solid fa-user-pen" id="editProfileBtn"></i>
          </div>
        </div>

        <button id="logoutButton" class="btn btn-outline-light">logout</button>
      </div>
    </nav>

    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="border-right active collapse show" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
          <a
            id="publicChat"
            class="list-group-item list-group-item-action bg-light active"
            >Public</a
          >
          <a id="friends" class="list-group-item list-group-item-action"
            >Friends</a
          >
          <a id="resource" class="list-group-item list-group-item-action"
            >Resource</a
          >
          <a id="speedtest" class="list-group-item list-group-item-action"
            >Speed Test</a
          >
          <a id="ESNguide" class="list-group-item list-group-item-action"
            >ESN Guide</a
          >
          <div id="notification" class="list-group-item list-group-item-action">
            Notification
          </div>
          <a id="announcement" class="list-group-item list-group-item-action"
            >Announcement</a
          >
          <a id="shareHelp" class="list-group-item list-group-item-action"
            >
            <div>Profession</div>
            <div>Profile</div>
            </a
          >
          <a id="emergencypost" class="list-group-item list-group-item-action"
            >Emergency Post</a
          >
          <a id="userManagement" class="list-group-item list-group-item-action"
          >User Management</a
        >
          <div id="bottom-content" class="list-group-item">
            <!-- <div id="username"></div> -->
          </div>
        </div>
      </div>
        <iframe
        id="mainContent"
        src="./view/Directory.html"
        frameborder="0"
      > </iframe>

      <div
      class="alert alert-danger speed-test-alert"
      role="alert"
      id="alert-display-speed-test"
      style="display: none"
    >
      A simple danger alert—check it out!
    </div>



    </div>

    <!-- Edit Profile Modal Structure -->
    <div id="editProfileModal" class="modeditProfileModal">
      <div class="edit-modal-content">
        <div class="modal-header">
          <span class="editClose" id="editClose">&times;</span>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div>
              </div>
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                value=""
                class="input"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <div class="input" id="genderDisplay"></div>
              <i class="fa-regular fa-pen-to-square" id="editGender"></i>
            </div>
            <div class="form-group">
              <label for="phone">Phone number</label>
              <input
                type="tel"
                id="phone"
                class="input"
                data-toggle="popover"
                data-trigger="manual"
                data-content="Phone number must be 10 digits long."
              />
            </div>
            <div id="errorForphonenumber"  class="alert alert-danger"
            role="alert" style="display:none"></div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea id="message" class="input form-control"></textarea
              >
            </div>
            <div class="form-group">
              <label for="job">Job</label>
              <div class="input" id="jobType"></div>
              <i class="fa-regular fa-pen-to-square" id="editJobType"></i>
            </div>
            <div class="form-group">
              <label>Share Status</label>
              <div class="input" id="shareStatusDiv">
              </div>
            
                <i class="fa-regular fa-pen-to-square" id="status-edit"></i>

              
            </div>
            <div class="button-container">
              <button type="submit" id="ConfirmtoEdit" class="btn btn-confirm confirmEdit">
                Confirm
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

 
    <!-- Gender Edit Modal Structure -->
    <div id="editGenderModal" class="editGenderModal" style="display: none">
      <!-- <div class="modal-dialog"> -->
      <div class="edit-gender-modal-content">
        <div class="gender-modal-header">
          <span class="genderModalClose" id="genderModalClose">&times;</span>
        </div>
        <div class="gender-modal-body">
          <form>
            <div class="gender-options">
              <button type="button" class="gender-option" data-value="male">
                Male
              </button>
              <button type="button" class="gender-option" data-value="female">
                Female
              </button>
              <button type="button" class="gender-option" data-value="other">
                Other
              </button>
            </div>
            <button
              type="button"
              class="btn btn-confirm"
              id="confirmGenderChange"
            >
              Confirm
            </button>
          </form>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <div id="statusModal" class="statusModal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="statusModalClose" id="statusModalClose">&times;</span>
        <p>Share Status</p>
        <div class="square-container">
          <div class="square" id="ok">
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <div class="textStatus">Ok</div>
          </div>
          <div class="square" id="help">
            <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i>
            <div class="textStatus">Help</div>
          </div>
          <div class="square" id="emergency">
            <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
            <div class="textStatus">Emergency</div>
          </div>
          <div class="square" id="undefined">
            <i class="fa fa-ban fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <button type="button" id="confirm" class="btn btn-outline-info">
          Confirm
        </button>
      </div>
    </div>
    <div id="editJobTypeModal" class="editJobTypeModal" style="display: none">

      <div class="jobTypeContent">
        <div class="gender-modal-header">
          <span class="jobTypeModalClose" id="jobTypeModalClose">&times;</span>
        </div>   
          <div class="prevBtn">&#60;</div>
        
          <div class="toothIcon">
            <image id="toothIconDiv">
              <div id="toothIconLabel" ></div>
          </div>
          <div class="nextBtn">&#62;</div>
          
      </div>
      <button id="saveJobType" class="saveBtn">Save</button>


 
      <div
      class="alert alert-danger speed-test-alert"
      role="alert"
      id="alert-display-speed-test"
      style="display: none"
    >
      A simple danger alert—check it out!
    </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/0d1dd613ec.js"
    crossorigin="anonymous"
    id="myFrame"
  ></script>
  
  <script src="../../CONST.js" defer></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/publicGETfunction.js" defer></script>
  <script src="../js/Validation.js" defer></script>
  <script src="../js/Frame.js" defer></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
</html>
